/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {margin:0; font-family:'Roboto Slab', serif; box-sizing: border-box;}
img {max-width:100%;}
.centered {text-align:center; margin:0 auto;}

p {font-size:20px; color:#414042;}

a {color:#ffe57b; cursor:pointer;}

.trans {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

strong {font-weight: 600; letter-spacing: 0.6px;}

.container {width:1200px; max-width:100%; margin:0 auto; position:relative; box-sizing: border-box;}

header {background: url(../img/bg.png) no-repeat; background-size:100%; overflow:hidden; background-position: left 100px; padding-bottom:40px;}

header h1 {font-size:55px; color:#242020;}

.fascia {width:100%; float:left;}

.half {float:left; width:50%;}

.giallo {color:#ffe57b;}
.top {background-color: #fff; display:table; height:78px; width:100%; position:fixed; z-index:9;}
.top img {float:left; margin-top:20px; margin-left:25px;}
a.bottone {display:table-cell; vertical-align: middle; width:280px; text-align:center; color:#414042; background:#ffe57b url(../img/carrello.svg) no-repeat 16%; background-size:12%; font-size:20px; text-decoration:none; padding-left:30px;}
.top a:hover {background-color: #ffe57b;}

.top a.bottone {border-bottom: 1px solid #fff;}

.top .lingue {background-color:#414042; color:#fff; text-transform: uppercase; width:80px; display:table-cell; vertical-align: middle; text-align:center; border-bottom: 1px solid #fff;}
.top .lingue a {color:#fff; text-decoration: none; background-color: transparent;}
.top .lingue .active, .top .lingue a:hover {color:#ffe57b; }

.top h2 {text-align:right; display:table-cell; vertical-align:middle; text-shadow: 4px 4px 0px #ffe57b; font-size:20px; background: url(../img/freccia.svg) no-repeat right 20px center; background-size: 4%; padding-right:60px;}

.top a.bottone.mobile {display:none;}

header .info {overflow:hidden; margin-top:165px;}
header .info .titolo {overflow:hidden;}
header .info .titolo img {float:left;}
header .info .titolo h1 {float:left; margin-left:50px;}
header .info p {padding-top:50px;}

main {width:100%; float:left; overflow:hidden; position:relative;}

.regola {padding:70px 0; font-weight: 500; font-size: 23px; background: url(../img/tipo.png) no-repeat right 10% center; border-top:1px solid #000;}
.regola p {width:80%;}
.regola .container {padding-left:10%; background: url(../img/mano.png) no-repeat left 20px; padding-bottom:20px; min-height:150px;}

.brera {color:#ea7d92;}

.espansione { background: url(../img/bgiallo.jpg) no-repeat; background-size: cover; padding-top:94px;}

.espansione p {max-width:492px;}

.espansione a.bottone {
    background: #414042 url(../img/download.svg) no-repeat 7%;
        background-color: rgb(65, 64, 66);
        background-size: 8%;
    color: #ffe57b;
    padding: 10px 30px 10px 60px;
    border-radius: 50px;
    display: inline-block;
    width: auto;
    font-weight: 300;
    margin-top:90px;
}

.bx-wrapper {background: transparent; border:none; box-shadow: none; padding-bottom:0;}
.bx-wrapper .bx-pager.bx-default-pager a {background:#ffe57b;}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a.focus
{background: #424244;}
.bx-wrapper .bx-pager {text-align:left;}

.social {background-color:#414042; padding:42px 0; border-bottom:40px solid #333132;}
.social p {color:#fff;}
.social .ash {width:80%; float:left;}
.social .links {width:20%; float:left;}
.social .links a img {width:40px;}



/*** footer ****/
footer {background-color:#272727; color:#fff; float:left;position: relative; width:100%; padding:77px 0;}
.corporate, .contacts, .disclaimer {float:left; width:33.3%; font-size:16px;}
.disclaimer p { color:#666; font-size:16px;}

footer p {margin:0;}
footer a {color:#fff;}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

@media only screen and (max-width:1280px) {
  .container {width:90%; margin-left:5%;}
}

@media only screen and (max-width:1024px) {
  p {font-size:16px;}
  .container {width:90%; margin-left:5%;}
  .contenuto {position:relative;}
  .no-mobile {display:none !important;}
  .top a.bottone {background-color: #a7cee0; padding-left:0;}
  .top img {margin-left:5%;}
  a.bottone {width:auto; font-size:16px;}
  img.pres {max-width:80%;}
  main {margin-top:0;}
  .bollo {width:100%; margin:0 10px 10px; padding-top:10%;}
  .terzo, .right {width:100%;}
  .contatti .contenuto {padding-left:10%;}
  .contenuto {padding-left:5%;}
  .contatti .right p {width:100%; margin-bottom:20px;}
  footer {padding:70px 0;}
  .corporate, .contacts, .disclaimer {width:90%; margin-bottom:10px;}
  .scura p {margin-left:0;}

  header .pres {margin-top:110px;}
  #scena {height:180px; margin-top:0;}
  .intro {margin:10% 0;}
  .intro p {width:100%; font-size:16px;}

  header .title {width:100%; left:0;}

  #ordina.fascia.grigia, .uno {padding:40px 0;}
  .acquista {width:100%; padding-left:0;}
  .scatola {width:60%; margin-left:4%; margin-bottom:20px;}

  .uno .cranio {width:30%; margin:0 5% 20px 0;}
  .uno p {width:65%; margin-left:0;}

  .uno .contenuto {width:100%; border:0; padding:0;}
  .uno .contenuto .bolli {width:100%; margin-bottom:30px; margin-top:30px; padding:0;}
  .uno .contenuto .bolli .bollo { margin:5px 1%; width:31%; border-radius:0; padding-top:3%; background-size: auto;}
  .uno .contenuto .elenco {width:100%;}

  .uno .contenuto .elenco ul {margin:0;}

  .foto .bx-wrapper {height:350px;}

  .uno .contenuto .elenco ul.leftc {margin-right:5%;}

  .contatti .right {padding-left:0;}

  .contatti .right p, .contatti .loghi {width:100%;}

  header {background-size: auto;}

  header .intro {margin-left:5%;}
  .scura .evento strong {font-size:20px;}

  .scatola {text-align:center; width:100%; margin:20px auto;}
  .scatola img {max-width:80%;}

  .top h2 {font-size:20px; max-width:400px;}

  .espansione a.bottone {background-size: 4%;}
}

@media only screen and (max-width:768px) {
  .top {height:40px;}
  .top a.bottone {display:none;}
  .top a.bottone.mobile {color:#a7cee0; width:18%; background-size: 50%; background-position: center;display:table-cell;}
  .top img {margin-top: 10px; margin-bottom: 10px;}
  .top .lingue {width:60px;}
  .top .lingue a {font-size:12px;}
  header .info {margin-top:105px; margin-bottom:20px;}
  header .info .titolo img {width:15%;}
  header .info .titolo h1 {width:80%; font-size:36px; line-height:38px; margin-left:5%; margin-top:0;}


  .half {width:100%;}

  .regola {background-image:none; padding:30px 0 0;}
  .regola p {width:100%;}
  .regola .container {
    padding-left: 20%;
    background: url(../img/mano.png) no-repeat left top 29px;
    background-size: auto auto;
    background-size: 18%;
  }
  .espansione {padding:30px 0;}

  .espansione a.bottone {margin-top:20px; margin-bottom:40px; box-sizing:border-box; width:100%; background-size:10%;}

  .social .links {width:100%;}
}
